<!DOCTYPE html>
<html>

<head>
  <title>Bank Connection</title>
</head>

<body style="
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #333333;
      background-color: #f5f5f5;
      padding: 20px;
    ">
  <div class="container" style="max-width: 600px; margin: 0 auto">
    <div class="logo" style="text-align: center; margin-bottom: 20px">
      <img src="https://res.cloudinary.com/dutpegaoy/image/upload/v1674717224/image_1_2_p8wtoc.png" alt="Logo"
        style="max-width: 200px" />
    </div>
    <div class="content" style="background-color: #ffffff; padding: 20px; border-radius: 10px">
      <h1 style="font-weight: normal; margin: 0 0 15px">
        Bank connected successfully
      </h1>
      <p>
        Thank you for connecting with us. 
      </p>
      
    </div>
  </div>
</body>

</html>