<!DOCTYPE html>
<html>

<head>
  <title>Verification Email</title>
</head>

<body style="
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #333333;
      background-color: #f5f5f5;
      padding: 20px;
    ">
  <div class="container" style="max-width: 600px; margin: 0 auto">
    <div class="logo" style="text-align: center; margin-bottom: 20px">
      <img src="https://res.cloudinary.com/dutpegaoy/image/upload/v1674717224/image_1_2_p8wtoc.png" alt="Logo"
        style="max-width: 200px" />
    </div>
    <div class="content" style="background-color: #ffffff; padding: 20px; border-radius: 10px">
      <h1 style="font-weight: normal; margin: 0 0 15px">
        Verification Email
      </h1>
      <p>Hello {{name}},</p>
      <p>
        Thank you for signing up with us. To complete your registration,
        please click on the link below to verify your email address:
      </p>
      <a href="{{verificationLink}}" class="verification-link" style="
            color: #ffffff;
            text-decoration: none;
            display: block;
            margin-top: 20px;
            text-align: center;
            background-color: #a31c35;
            padding: 10px 15px;
            border-radius: 5px;
          ">Verify Email
      </a>
      <p>If you did not sign up for our service, please ignore this email.</p>
      <p>Best,<br />The Team</p>
    </div>
  </div>
</body>

</html>